<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>

    <!-- Core CSS -->
    <link th:href="@{/Admin/assets/plugins/bootstrap/bootstrap.css}" rel="stylesheet" />
    <link th:href="@{/Admin/assets/font-awesome/css/font-awesome.css}" rel="stylesheet" />
    <link th:href="@{/Admin/assets/plugins/pace/pace-theme-big-counter.css}" rel="stylesheet" />
    <link th:href="@{/Admin/assets/css/style.css}" rel="stylesheet" />
    <link th:href="@{/Admin/assets/css/admin-profile.css}" rel="stylesheet" />
    <link th:href="@{/Admin/assets/css/main-style.css}" rel="stylesheet" />
    <link th:href="@{/Admin/assets/css/mystyle.css}" rel="stylesheet">
    <link th:href="@{/Admin/assets/plugins/dataTables/dataTables.bootstrap.css}" rel="stylesheet" />
</head>

<body>
<!-- Include Navbar and Sidebar -->
<div th:replace="~{Admin/fragments/wrapper :: navbar}"></div>
<div th:replace="~{Admin/fragments/wrapper :: sidebar}"></div>

<!-- Main Content -->
<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Cakes</h1>
        </div>
    </div>
    <div class="col-lg-12">
        <!-- Advanced Tables -->
        <div class="panel panel-default">
            <div class="panel-heading">
                Cake Tables
            </div>
            <div class="panel-body">
                <div class="table-responsive">
                    <label for="categoryFilter">Filter by Category:</label>
                    <select id="categoryFilter" class="filter-form-control">
                        <option value="">All</option>
                        <option th:each="cat : ${categories}" th:value="${cat.id}" th:text="${cat.name}"></option>

                    </select>
                    <div th:if="${deleteSuccessful != null and not #strings.isEmpty(deleteSuccessful)}" class="alert alert-success">
                        <p th:text="${deleteSuccessful}"></p>
                    </div>
                    <div th:if="${errorMessage!= null and not #strings.isEmpty(errorMessage)}" class="alert alert-danger">
                        <p th:text="${errorMessage}"></p>
                    </div>

                    <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                        <thead>
                        <tr>
                            <th>Cake ID</th>
                            <th>Cake Name</th>
                            <th>Category</th>
                            <th>Price</th>
                            <th>Image</th>
                            <th>Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="cake : ${cakes}">
                            <td th:text="${cake.id}"></td>
                            <td th:text="${cake.name}"></td>
                            <td>
                                <span class="hidden-category-id" th:text="${cake.categories[0].id}" style="display:none;"></span>
                                <span th:each="category : ${cake.categories}" th:text="${category.name} + ' '" class="badge badge-primary"></span>
                            </td>
                            <td th:text="${cake.formattedPrice}"></td>
                            <td><img th:src="@{'/uploads/' + ${cake.imageURL}}" alt="Cake Image" style="width: 100%; max-width: 150px;"></td>
                            <td>
                                <a th:href="@{/admin/cake/update/{id}(id=${cake.id})}" class="btn btn-warning">Edit</a>
                                <a th:href="@{/admin/cake/delete/{id}(id=${cake.id})}" class="btn btn-danger">Delete</a>

                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>

</div>


<!-- Core Scripts -->

<script th:src="@{/Admin/assets/plugins/jquery-1.10.2.js}"></script>
<script th:src="@{/Admin/assets/plugins/bootstrap/bootstrap.min.js}"></script>
<script th:src="@{/Admin/assets/scripts/category.js}"></script>
<script th:src="@{/Admin/assets/scripts/add-cake.js}"></script>
<script th:src="@{/Admin/assets/plugins/metisMenu/jquery.metisMenu.js}"></script>
<script th:src="@{/Admin/assets/plugins/pace/pace.js}"></script>
<script th:src="@{/Admin/assets/scripts/siminta.js}"></script>
<script th:src="@{/Admin/assets/plugins/dataTables/jquery.dataTables.js}"></script>
<script th:src="@{/Admin/assets/plugins/dataTables/dataTables.bootstrap.js}"></script>
<script>
    $(document).ready(function () {
        $('#dataTables-example').DataTable();
    });
</script>

</body>
</html>
