<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Đài Bắc Bakery</title>
    <link rel="stylesheet" th:href="@{/css/style-login.css?version=51}">
    <script type="text/javascript" th:src="@{/js/script.js}"></script>
    <script type="text/javascript" th:src="@{/Common/adminMode.js}"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>
<body>
<!-- Header -->
<header th:replace="~{fragments/header :: header}"></header>


<!-- Banner -->
<section class="banner">
    <img th:src="@{/img/background-gateux2.jpg}" alt="cake">
    <h2>Đăng Nhập</h2>
</section>

<!-- Login Section -->
<section class="login-container">
    <div class="login-box">
        <h2>Đăng Nhập</h2>
        <div th:if="${successfulMessage}" class="successfullMessage" style="color: green;">
            <p th:text="${successfulMessage}"></p>
        </div>
        <p th:if="${loginError}" class="error" th:text="${loginError}"></p>
        <p th:if="${logoutMessage}" class="error" th:text="${logoutMessage}"></p>

        <form th:action="@{/login}" method="post" th:object="${user}">
            <div class="input-group">
                <label for="identifier">Tên đăng nhập hoặc Email</label>
                <input type="text" id="identifier" name="identifier" th:field="*{username}" placeholder="Nhập tên đăng nhập hoặc email" required>
            </div>
            <div class="input-group">
                <label for="password">Mật khẩu</label>
                <input type="password" id="password" name="password" th:field="*{password}" required>
            </div>
            <div class="input-group remember-me">
                <input type="checkbox" id="remember-me" name="remember-me">
                <label for="remember-me">Remember me</label>
            </div>
            <div class="input-group">
                <button type="submit" class="login-btn">Đăng Nhập</button>
            </div>
        </form>

        <p>Chưa có tài khoản? <a th:href="@{/register}">Đăng ký ngay</a></p>
    </div>
</section>

<!--Footer-->
<footer th:replace="~{fragments/footer :: footer}"></footer>
</body>
</html>
