body {
    min-height: 100vh;
    height: auto !important;
    background-color: #d1d4d8;
}


.btn-primary{
    margin-right: 20px;
}

.form-group .my-form-control {
    height: 40px;
    padding: 10px;
    border: 1px solid #ced4da;
    border-radius: 5px;
    font-size: 16px;
    width: 100%;
    margin-left: 36px;
}

.btn-sm{
    font-size: 20px;
    background-color: #2e6da4;
    color: white;
    margin-top: 10px;
    border-radius: 5px;
}

.filter-form-control{
    margin-bottom: 20px;
    width: 150px;
}


#dataTables-example td:nth-child(5) {
    width: 150px;
}

#dataTables-example td:nth-child(6) {
    width: 135px;
}

#dataTables-example td:nth-child(3) {
    width: 350px;
}

#dataTables-example td:nth-child(4) {
    width: 100px;
}

#dataTables-example th:nth-child(1){
    width: 70px;
}
